@import 'variaveis.scss';

* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}

.navbar {
    transform: translate(0, -710px);
    width: 100%;
    height: 10vh;
    background-color: #545454;
    display: inline-flex;

    .logo {
        width: 10%;

        .imagem-logo {
            width: 100%;
            transform: translate(0, -45px);
        }

        button {
            height: 10vh;
            background-color: transparent;
            border-color: transparent;
        }
    }

    nav {
        width: 50%;
        transform: translate(160px);
        padding-top: 3vh;

        a.link {
            font-size: 20px;
            padding-left: 40px;
            transform: translate(0, 20px);
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: white;
        }

        .link:hover {
            text-decoration: underline;
            transition: .3s;
        }

        .seletor {
            width: 16%;
            height: 4vh;
            border-radius: 7px;
            border-style: solid;
            transform: translate(40px);
        }

        .seletor:hover {
            background-color: #545454;
            color: white;
            border-color: white;
        }
    }

    .conteudo {
        width: 100%;
        height: 100vh;
        background-color: #a8a39d;
    }

    .nome-tl {
        transform: translate(190px, 0);
        width: 27%;
        height: 10vh;
        background-color: transparent;

        .icone-inicio {
            width: 26%;
            transform: translate(-20px, -5px);
        }

        .local-title {
            transform: translate(90px, -75px);
        }
    }
}

form {
    width: 100%;
    height: 100vh;
    background-color: #a8a39d;

    .c1 {
        width: 25%;
        height: 9vh;
        background-color: transparent;
        transform: translate(0, 130px);
        margin-left: 5%;

        label[for="nome"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="nome"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }

        input[name="nome"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl2 {
        width: 20%;
        height: 9vh;
        background-color: transparent;
        transform: translate(450px, 65px);
        margin-left: 5%;

        label[for="data_nascimento"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="data_nascimento"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="data_nascimento"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl3 {
        width: 15%;
        height: 9vh;
        background-color: transparent;
        transform: translate(820px, 1px);
        margin-left: 5%;

        label[for="cpf"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="cpf"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="cpf"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl4 {
        width: 15%;
        height: 9vh;
        background-color: transparent;
        transform: translate(1120px, -65px);
        margin-left: 5%;

        label[for="cnpj"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="cnpj"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="cnpj"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl5 {
        width: 15%;
        height: 9vh;
        background-color: transparent;
        margin: -1.5% 5%;

        label[for="telefone"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="telefone"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="telefone"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl6 {
        width: 29.5%;
        height: 9vh;
        background-color: transparent;
        margin: -4% 25%;

        label[for="email"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="email"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="email"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl7 {
        width: 15%;
        height: 9vh;
        background-color: transparent;
        margin: -4% 58.5%;

        label[for="cep"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="cep"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="cep"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl8 {
        width: 15%;
        height: 9vh;
        background-color: transparent;
        margin: -4% 78%;

        label[for="endereco"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="endereco"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="endereco"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl9 {
        width: 15%;
        height: 9vh;
        background-color: transparent;
        margin: 7% 5%;

        label[for="n_endereco"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="n_endereco"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="n_endereco"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl10 {
        width: 20%;
        height: 9vh;
        background-color: transparent;
        margin: -11% 25%;

        label[for="forma_pagamento"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        select[name="forma_pagamento"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        select[name="forma_pagamento"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl11 {
        width: 20%;
        height: 9vh;
        background-color: transparent;
        margin: 7% 50%;

        label[for="tipo_pessoa"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        select[name="tipo_pessoa"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        select[name="tipo_pessoa"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl12 {
        width: 18%;
        height: 9vh;
        background-color: transparent;
        margin: -11% 75%;

        label[for="valor"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        input[name="valor"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        input[name="valor"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .cl13 {
        width: 15%;
        height: 25vh;
        background-color: transparent;
        transform: translate(80px, 225px);

        label[for="status_venda"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }

        select[name="status_venda"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        select[name="status_venda"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }

        label[for="status_orcamento"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            margin-top: 20%;
        }

        select[name="status_orcamento"] {
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        select[name="status_orcamento"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }

    }

    .div-cl14 {
        width: 30%;
        height: 20vh;
        background-color: transparent;
        margin: 3% 25%;

        label[for="pedido"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }
        textarea[name="pedido"]{
            width: 100%;
            height: 20vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        textarea[name="pedido"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }

    .div-cl15 {
        width: 33%;
        height: 5vh;
        background-color: transparent;
        margin: -12% 60%;

        label[for="descricao"] {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
        }
        textarea[name="descricao"]{
            width: 100%;
            height: 20vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;
            padding-left:$paddinginput;
        }
        textarea[name="descricao"]:hover{
            transition: .4s;
            background-color: rgb(237, 235, 233);
        }
    }
    .i-sub{
        background-color: transparent;
        width: 10%;
        height: 4vh;
        transform: translate(1290px, -240px);

        input[type="submit"]{
            width: 100%;
            height: 4vh;
            border-radius: 10px;
            border-style: solid;
            border-color: gray;

            font-size: 18px;
        }
        input[type="submit"]:hover{
            transition: .5s;
            box-shadow: 0px 0px 10px whitesmoke;
            background-color: #cccccc;

            a {
                color: black;
            }
        }
    }
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(500px, 150px);
}

@media screen and (max-width: 1440px) {
    .navbar {
        transform: translate(0, -760px);

        .logo {

            .imagem-logo {
                transform: translate(0, -35px);
            }
        }
        nav {
            background-color: transparent;
            transform: translate(80px);
        }
        .nome-tl {
            transform: translate(150px, 0);
            width: 27%;
            height: 10vh;
            background-color: transparent;
        }
    }
    form {
    
        .c1 {
            width: 23%;
            background-color: $corTeste;
            transform: translate(0, 150px);
        }
    
        .cl2 {
            width: 19%;
            background-color: $corTeste;
            transform: translate(400px, 80px);
        }
    
        .cl3 {
            width: 16%;
            background-color: $corTeste;
            transform: translate(740px, 10px);
        }
    
        .cl4 {
            background-color: $corTeste;
            transform: translate(1030px, -60px);
        }
    
        .cl5 {
            background-color: $corTeste;
            transform: translate(0, -5px);
        }
    
        .cl6 {
            background-color: $corTeste;
            transform: translate(-15px, -15px);
        }
    
        .cl7 {
            background-color: $corTeste;
            transform: translate(-15px, -25px);
        }
    
        .cl8 {
            background-color: $corTeste;
            transform: translate(-15px, -35px);
        }
    
        .cl9 {
            background-color: $corTeste;
            transform: translate(0, -40px);
        }
    
        .cl10 {
            background-color: $corTeste;
            transform: translate(0, -50px);
        }
    
        .cl11 {
            background-color: $corTeste;
            transform: translate(0, -60px);
        }
    
        .cl12 {
            background-color: $corTeste;
            transform: translate(-15px, -70px);
        }
    
        .cl13 {
            background-color: $corTeste;
            transform: translate(70px, 120px);
            label[for="status_orcamento"] {
                font-size: 27px;
            }
        }
    
        .div-cl14 {
            background-color: $corTeste;
            transform: translate(0, -110px);
        }
    
        .div-cl15 {
            background-color: $corTeste;
            transform: translate(-15px, -135px);
        }
        .i-sub{
            background-color: $corTeste;
            transform: translate(1185px, -360px);
        }
    }
}